.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  background-color: $primary-color;
  color: $white;
  font-size: .813rem;
  font-weight: 700;
  position: fixed;
  z-index: 9999;
  @include mq($from: tablet) {
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    position: relative;
    z-index: 1;
  }

  &__logo {
    margin: 0 auto;
    @include mq($from: tablet) {
      flex: 0 0 230px;
      text-align: left;
      margin: 0;
    }
    @include mq($from: desktop) {
      flex: 0 0 280px;
    }
  }

  &__search {
    display: flex;
    margin-left: 0;
    @include mq($from: tablet) {
      flex: 0 1 340px;
      margin-right: auto;
    }
  }

  &__search-icon {
    margin-left: auto;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    color: $white;
    @include mq($from: tablet) {
      display: none;
    }

    & i {
      font-size: 2rem;
    }

    & .search-close {
      display: none;
    }

    &.open {
      & .search-close {
        display: block;
      }

      & .search-open {
        display: none;
      }
    }
  }

  &__back {
    margin-left: 0;
    @include mq($from: tablet) {
      margin-right: auto;
    }
    & button {
      color: $white;
    }
  }

  &__lang {
    display: none;
    @include mq($from: tablet) {
      display: flex;
      align-items: center;
      margin-left: 20px;
    }

    & i {
      color: $secondary-color;
      margin-left: 5px;
    }
  }

  &__user {
    @include mq($from: tablet) {
      flex: 0 1 150px;
      margin-left: 5px;
    }
  }

  &__user-account {
    & a {
      padding: 5px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include mq($from: tablet) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include mq($from: tablet) {
      display: none;
    }
  }
}

.logo {
  display: none;
  @include mq($from: tablet) {
    display: block;
  }

  &--small {
    display: block;
    @include mq($from: tablet) {
      display: none;
    }
  }
}
