.grid {
  display: grid;
  grid-gap: 10px;

  &--basic {}

  &--one {
    grid-template-columns: 1fr;
  }

  &--two {
    grid-template-columns: 1fr;
    @include mq($from: tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &--three {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    @include mq($from: phablet) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &--four {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    @include mq($from: tablet) {
      grid-template-columns: 1fr 1fr;
    }
    @include mq($from: desktop) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
