.grid {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  margin: 0 auto;

  &--site-container {
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto;
    grid-gap: 0;
    @include mq($from: tablet) {
      /*grid-template-columns: auto minmax(0, 1fr);*/
    }
  }

  &--main-content {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0;
    @include mq($from: tablet) {
      grid-template-columns: auto minmax(0, 1fr);
    }

  }

  &--4-column {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 1280px;
    @include mq($from: phablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq($from: tablet) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--3-column {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 1280px;
    @include mq($from: tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--2-column {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 1280px;
    @include mq($from: phablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  &--list {
    grid-template-columns: 100%;
    @include mq($from: tablet) {
      grid-template-columns: 50% 50%;
      grid-column-gap: 20px;
      grid-row-gap: 0;
    }
  }
}
