/*PLACEHOLDERS use ''@extend %placeholder' in css above all other styles in the class*/
%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
