%badge-basic {
  display: inline-block;
  width: auto;
  font-weight: 300;
  font-size: .75rem;
  padding: 5px 7px;
  line-height: 1em;
  white-space: nowrap;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}

.badge {
  @extend %badge-basic;
  letter-spacing: $x-small-space;
  transition: $animate-default;
  border-color: $grey;
  & i {
    font-size: .875rem;
  }

  &--primary {
    color: $white;
    background-color: $primary-badge-color;
    border-color: $primary-badge-color;
  }

  &--secondary {
    color: $white;
    background-color: $secondary-badge-color;
    border-color: $secondary-badge-color;
  }

  &--success {
    color: $white;
    background-color: $success-badge-color;
    border-color: $success-badge-color;
  }

  &--alert {
    color: $white;
    background-color: $alert-badge-color;
    border-color: $alert-badge-color;
  }

  &--info {
    color: $white;
    background-color: $info-badge-color;
    border-color: $info-badge-color;
  }

  &--light {
    color: $grey-dark;
    background-color: $light-badge-color;
    border-color: $light-badge-color;
  }

  &--dark {
    color: $white;
    background-color: $dark-badge-color;
    border-color: $dark-badge-color;
  }

  &--pill {
    border-radius: 15px;
    padding: 5px 10px;
  }

  &--icon-text {
    position: relative;
    padding-left: 22px;
    /*for 12px icon*/
    & i {
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--round {
    padding: 5px;
    border-radius: 12px;
    min-width: 24px;
    text-align: center;
    height: 24px;
    line-height: 14px;
    position: relative;

    & i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--image-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

a.badge {
  &:hover {
    background-color: $grey-light;
  }

  &--primary:hover {
    background-color: darken($primary-badge-color, 10%);
    border-color: darken($primary-badge-color, 10%);
  }

  &--secondary:hover {
    background-color: darken($secondary-badge-color, 10%);
    border-color: darken($secondary-badge-color, 10%);
  }

  &--success:hover {
    background-color: darken($success-badge-color, 10%);
    border-color: darken($success-badge-color, 10%);
  }

  &--alert:hover {
    background-color: darken($alert-badge-color, 10%);
    border-color: darken($alert-badge-color, 10%);
  }

  &--info:hover {
    background-color: darken($info-badge-color, 10%);
    border-color: darken($info-badge-color, 10%);
  }

  &--light:hover {
    background-color: darken($light-badge-color, 10%);
    border-color: darken($light-badge-color, 10%);
  }

  &--dark:hover {
    background-color: darken($dark-badge-color, 10%);
    border-color: darken($dark-badge-color, 10%);
  }

  & span {
    opacity: .8;
    transition: $animate-default;
  }

  &:hover span {
    opacity: 1;
  }
}
