.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $grey-light;
  color: $grey-medium;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
  overflow: hidden;
  transition: $animate-default;
}

.form-radio:checked::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $grey-medium;
}

.form-radio:hover {
  background-color: $grey;
}

.form-radio:checked {
  background-color: $grey-light;
}

.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: $grey-light;
  color: $grey-dark;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
  transition: $animate-default;
}

.form-checkbox:checked::before {
  position: absolute;
  font: 600 13px/1 Arial, Helvetica, sans-serif;
  left: 6px;
  top: 2px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-checkbox:hover {
  background-color: $grey;
}

.form-checkbox:checked {
  background-color: $grey-light;
}
