.dropdown {
  &__list {
    @extend %list;
    font-size: $size-x-small;
    font-weight: 600;
    width: 100%;
    max-width: 300px;

    &--header {
      letter-spacing: $x-small-space;
      display: none;
      @include mq($from: tablet) {
        display: block;
      }
    }
  }

  &__list-item {
    color: $nearly-black;
    display: flex;
    position: relative;
    text-decoration: none;
    transition-duration: .5s;
    white-space: nowrap;
    background: $grey-100;

    &:hover {
      cursor: pointer;

      & > ul {
        visibility: visible;
        opacity: 1;
        display: block;
      }
    }

    &:focus-within {
      cursor: pointer;
    }

    & a {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      color: $nearly-black;
      padding: 10px;
    }

    &--header {
      color: $white;
      background: $primary-color;

      & a {
        color: $white;
        background: none;
        padding: 10px 5px;
      }
    }

    &--submenu {
      clear: both;
      width: 100%;

      &:hover {
        background: darken($grey-100, 5%);
      }

      & a {
        padding: 1rem;
        justify-content: flex-start;
      }
    }

    & i {
      color: $secondary-color;
    }
  }

  & a {
    &:hover {
      text-decoration: none;
    }
  }

  &__submenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    margin-top: 2rem;
    left: 0;
    right: 0;
    display: none;
    padding: 0;
    background: $grey-lightest;
    z-index: 10;

    &:hover {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    &--header {
      background: $primary-color;
      margin-top: 1.75rem;
    }

    & .dropdown__list-item--header:hover {
      background: darken($primary-color, 5%);
    }
  }

  &__name {
    display: none;
    @include mq($from: tablet) {
      display: block;
    }
  }

  & i {

  }
}
