.icon {
  display: inline-block;
  overflow: hidden;
  background-image: url('../../images/sprite.png')!important;

  &--search {
    @include sprite($search-icon);
  }

  &--plus-white {
    @include sprite($plus-icon-white);
  }

  &--back {
    @include sprite($back-icon);
  }

  &--remove {
    @include sprite($close-icon);
  }

  &--like {
    @include sprite($heart-icon-white);
  }

  &--close-dark {
    @include sprite($close-icon-dark);
  }
  &--alert-red {
    @include sprite($alert-icon-red);
  }
}
