.list {
  width: 100%;

  &--simple {}

  &--notifications {
    margin: 0;
  }

  &--search {
    margin: 0;

    & a {
      color: $nearly-black;
      text-decoration: none;
    }
  }

  &__item {
    background-color: $white;
    border: 1px solid $grey-light;
    border-radius: 3px;
    box-shadow: $box-shadow-small;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    @include mq($from: mobileBig) {
      align-content: center;
    }
    @include mq($from: phablet) {
      flex-direction: row;
      align-items: flex-start;
    }
    @include mq($from: tablet) {
      margin-bottom: 20px;
    }

    &--plugin {
      flex-direction: column;
      align-items: center;
      @include mq($from: phablet) {
        flex-direction: row;
        align-items: center;
      }
      @include mq($from: tablet) {
        margin-bottom: 10px;
      }
    }

    &--simple {
      justify-content: space-between;
    }

    &--search {
      justify-content: flex-start;
      border-left: 0;
      padding: 15px 20px;

      &:hover {
        background-color: lighten($grey-light, 3%);
      }
    }

    &:hover .list__header-actions {
      opacity: 1;
    }

    &:hover .list__actions {
      opacity: 1;
    }

    &.expanded {
      border-color: $secondary-color;
      border-top: 1px solid $secondary-color;
      margin-top: -1px;

      & .list__number-count {
        /*display: none;*/
      }
    }

    &.selected {
      & .list__check {
        color: $white;
        border-color: $green-light;
        background-color: $green-light;
      }
    }

    &--select {
      flex-wrap: wrap;
      @include mq($from: tablet) {
        flex-wrap: nowrap;
      }
    }
  }

  &__number-count {
    height: 36px;
    width: 36px;
    flex: 0 0 36px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $grey-medium;
    border-radius: 18px;
    font-size: .75rem;
  }

  &__badge {
    margin-bottom: 10px;
    flex: 0 0 auto;
    line-height: 0;
    @include mq($from: phablet) {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  &__image {
    margin-bottom: 10px;
    width: 48px;
    height: 48px;
    line-height: 0;
    border-radius: 50%;
    background: $grey-light url('../images/flame-small-white.png') no-repeat center center;
    overflow: hidden;
    @include mq($from: phablet) {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  &__item-button {
    flex: 0 0 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-color;
  }

  &__radio {
    flex: 0 0 36px;
    margin-right: 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__checkbox {
    flex: 0 0 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-text {
    text-align: center;
    font-size: .875rem;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 100px;
    margin-bottom: 10px;
    @include mq($from: phablet) {
      flex-direction: row;
      padding-right: 10px;
      text-align: left;
      margin-bottom: 0;
    }
  }

  &__item-heading {
    font-weight: $font-semi-bold;
    color: $nearly-black;
    margin-right: 10px;
    flex: 0 0 auto;
  }

  &__item-sub-heading {
    color: $grey-medium;
    @include mq($from: phablet) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__item-link {
    &:hover {}
  }

  &__item-label {
    color: $grey-dark;
  }

  &__item-data {
    font-weight: 500;
  }

  &__icon {
    line-height: 1em;
    cursor: pointer;
    margin-left: auto;
    color: $grey;
    font-size: 1.5rem;
    flex: 0 0 auto;

    &--project-list {
      margin-left: 20px;
    }

    &--search {
      margin-left: 10px;
    }
  }

  &__check {
    line-height: 1em;
    cursor: pointer;
    color: $grey-light;
    height: 24px;
    width: 24px;
    border: 2px solid $grey-light;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 24px;
    transition: $animate-default;
    @include mq($from: phablet) {
      margin-left: auto;
    }

    & i {
      font-size: $size-x-small;
      font-weight: $font-bold;
    }

    &:hover {
      color: $green-light;
      border-color: $green-light;
    }
  }

  &__select {
    margin-left: auto;
    flex: 0 0 100%;
    @include mq($from: tablet) {
      flex: 0 0 165px;
    }
  }

  &__button {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;

    &--content {
      margin-top: 0;

      & + .list__button--content {
        margin-top: 20px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px 40px 65px;
    background-color: $white;
    text-align: left;

    &.expanded {
      border: 1px solid $secondary-color;
      border-top-color: $grey-light;
      margin-top: -1px;
      padding: 30px 20px;
    }
  }

  &__content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__content-heading {
    font-weight: 600;
    font-size: .875rem;
    color: $secondary-color;
    text-transform: uppercase;
    letter-spacing: $x-small-space;
  }

  &__content-text {}

  &__header-actions {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
    opacity: 0;
    transition: $animate-default;

    & + .list__icon {
      margin-left: 0;
    }
  }

  &__actions {
    display: flex;
    opacity: 0;
    transition: $animate-default;

    & + .list__icon {
      margin-left: 0;
    }

    &--visible {
      opacity: 1;
    }
    @include mq($from: phablet) {
      margin-left: auto;
    }
  }

  &__actions-icon {
    padding: 5px;
    cursor: pointer;
  }

  &__item-details {
    text-align: right;
    font-size: .75rem;
    color: $grey-medium;
    margin-left: auto;
    flex: 0 1 150px;
    padding-left: 10px;

    &--search {
      margin-left: auto;
    }
  }
}
