.menu {
  &--desktop {
    display: none;
    background-color: $grey-lightest;
    @include mq($from: desktop) {
      display: flex;
      flex: 1 1 auto;
    }
  }

  &--responsive-nav {
    width: 100%;
    height: 100%;
    background: $black;
    display: flex;
    flex-direction: column;
    @include mq($from: desktop) {
      display: none;
    }
  }

  &__list {
    @extend %list;
    width: 100%;
    max-width: 960px;
    position: relative;
    display: flex;
    color: $black;

    &--responsive-nav {
      flex-direction: column;
    }
  }

  &__list-item {
    list-style: none;
    display: inline-block;
    white-space: nowrap;
    @include mq($from: desktop) {
      background-color: $grey-lightest;
    }

    &:hover {
      @include mq($from: desktop) {
        background-color: darken($grey-lightest, 3%);
      }
    }

    & a {
      display: inline-block;
      color: $grey-dark;
      padding: 20px;
      letter-spacing: $x-small-space;


      &:hover {
        color: $black;
      }
    }

    &--has-submenu {
      position: relative;

      & a {
        padding-left: 20px;
        @include mq($from: desktop) {
          padding-right: 25px;
        }

        &:hover {
          background-color: $nearly-black;
          @include mq($from: desktop) {
            background: none;
          }
        }

        &:after {
          content: '';
          display: inline-block;
          width: 5px;
          height: 5px;
          border-top: 2px solid $white;
          border-right: 2px solid $white;
          transform: rotate(135deg);
          position: absolute;
          left: 10px;
          top: 18px;
          @include mq($from: desktop) {
            border-color: $grey-dark;
            left: auto;
            top: auto;
            right: 10px;
            bottom: 27px;
          }
        }

        &:hover:after {
          border-color: $white;
          @include mq($from: desktop) {
            border-color: $black;
          }
        }

        &.open {
          background-color: $nearly-black;

          &:after {
            transform: rotate(315deg);
            top: 20px;
          }
        }
      }
    }

    &--responsive-nav {
      background: none;

      & a {
        display: inline-block;
        width: 100%;
        padding: 15px 15px 15px 25px;
        color: $white;

        &:hover {
          color: $white;
          opacity: 1;
        }
      }
    }
  }

  &__children {
    display: none;
    @include mq($from: desktop) {
      left: 0;
      top: 55px;
      position: absolute;
      transition-duration: .9s;
      z-index: 120;
      text-align: left;
    }

    &.open {
      display: block;
      margin-bottom: 20px;

      & a {
        background-color: $nearly-black;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    padding: 30px;
    height: 100%;
    @include mq($from: mobileBig) {
      padding: 50px;
    }
  }
}

.submenu {
  @include mq($from: desktop) {
    width: 200px;
  }

  &--mobile {
    padding: 0;
  }

  &__wrapper {
    position: relative;
    height: auto;
  }

  &__list {
    @extend %list;
  }

  &__list-item {
    & a {
      display: inline-block;
      width: 100%;
      padding: 15px 20px;
      position: relative;
      @include mq($from: desktop) {
        background-color: darken($grey-lightest, 3%);
      }

      &:hover {
        @include mq($from: desktop) {
          background-color: $grey-lightest;
        }
      }

      &:after {
        content: '';
        display: none;
      }
    }
  }
}

.menu__list-item--has-submenu:hover .menu__children {
  @include mq($from: desktop) {
    display: block;
  }
}

.submenu__list-item--has-submenu:hover .submenu {
  @include mq($from: desktop) {
    display: flex;
  }
}

.responsive-nav {
  height: 100%;
  display: none;
}
