.more-menu {
  position: absolute;
  top: 25px;
  right: 0;
  background-color: $white;
  border: 1px solid darken($grey-100, 15%);
  width: 160px;
  z-index: 101;
  display: none;

  &.open {
    display: block;
  }

  &__wrapper {
    position: relative;
    display: inline-block;
    width: auto;
  }

  &__list {
    @extend %list;
  }

  &__list-item {
    width: 100%;
    font-size: .875rem;
    border-bottom: 1px solid $grey-100;

    &:last-of-type {
      border: 0;
    }

    & a {
      display: inline-block;
      width: 100%;
      padding: 12px 20px;
      text-align: left;
      color: $nearly-black;
      text-decoration: none;

      &:hover {
        background-color: $grey-100;
      }
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    text-align: left;
    color: $nearly-black;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    background: $white;

    &:hover {
      background-color: $grey-100;
      text-decoration: none;
    }
  }
}
