a {
  color: $link-color;
}

hr {
  margin: 20px 0;
  padding: 0;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: $grey-dark;
}

.author {
  margin: 0 0 20px;
}

.date {
  margin: 0 0 20px;
}
