.search {
  width: 100%;
  max-width: 990px;

  &__wrapper {
    background-color: $white;
    border: 1px solid $grey;
    display: flex;
  }

  &--page-content {
    margin: 10px auto;
  }

  &--tabs {
    margin: 10px 0 -10px;
  }
}
