.side-panel {
  background-color: rgba($blue-grey-700, .15);
  padding: 15px;
  text-align: left;
  margin-top: -5px;
  @include mq($from: tablet) {
    padding: 30px 10px 30px 30px;
    max-width: 200px;
  }

  &__list {
    @extend %list;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include mq($from: tablet) {
      flex-direction: column;
      margin-bottom: 10px;
    }
  }

  &__list-item {
    padding: 5px 15px 5px 0;
    font-size: .813rem;
    font-weight: $font-bold;
    @include mq($from: tablet) {
      padding: 10px 0;
    }
  }
}
