.table {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;

  & table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    font-size: .813rem;

    & tr {
      background-color: lighten($blue-grey-100, 12%);

      &:first-of-type {
        background-color: $blue-grey-100;
      }

      &:nth-of-type(2n+2) {
        background-color: $white;

        & td {
          background-color: $white;
        }
      }
    }

    & th {
      padding: 10px;
      font-weight: 600;
      z-index: 1;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:first-of-type {
        width: 41px;
        max-width: 41px;
        background-color: $blue-grey-100;
      }

      &:nth-of-type(2) {
        background-color: $blue-grey-100;
      }

      &:last-of-type {
        width: 60px;
      }
    }

    & td {
      padding: 10px;
      z-index: 1;
      background-color: lighten($blue-grey-100, 12%);
      text-align: left;

      &:first-of-type {
        width: 41px;
        max-width: 41px;
      }

      &:last-of-type {
        width: 60px;
      }
      @include mq($from: tablet) {
        padding: 20px 10px;
      }
    }

    & .form-field,
    .form-checkbox {
      margin: 0;
    }
  }

  &--scroll {
    height: 100%;
    overflow-x: scroll;
  }

  &__wrapper {
    height: 100%;
    padding: 10px;
    @include mq($from: tablet) {
      padding: 20px;
    }

    &--scroll {
      overflow: hidden;

      & table {
        min-width: 800px;
        @include mq($from: tablet) {
          table-layout: auto;
        }
      }

      & th {
        &:first-of-type {
          position: sticky;
          left: 0;
          z-index: 2;
          width: 41px;
        }

        &:nth-of-type(2) {
          position: sticky;
          left: 41px;
          z-index: 2;
          width: 60px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          box-shadow: 1px 0 0 0 rgba(0, 0, 0, .1);
          @include mq($from: desktop) {
            max-width: 100px;
            overflow: visible;
            white-space: normal;
          }
        }
      }

      & td {
        &:first-of-type {
          position: sticky;
          left: 0;
          z-index: 2;
          width: 41px;
        }

        &:nth-of-type(2) {
          position: sticky;
          left: 41px;
          z-index: 2;
          width: 60px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          box-shadow: 1px 0 0 0 rgba(0, 0, 0, .1);
          @include mq($from: desktop) {
            width: auto;
            overflow: visible;
            white-space: normal;
          }
        }
      }
    }
  }

  & .icon-button--round {
    background: none;
    box-shadow: none;
    color: $nearly-black;

    &:hover {
      box-shadow: none;
      background: none;
      opacity: .8;
    }
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $blue-grey-100;
    -webkit-box-shadow: 0 0 1px rgba($blue-grey-100, 1);
  }
}

.table {
  &__header {
    display: flex;
    align-items: center;
    align-content: center;

    & i {
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.sortable {
  /*sort by in table head*/
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & i {
    font-size: 1rem;
  }
}
